@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!
                <a href="LogOut">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a href="Register">Register</a>
                <a href="Login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">Aboutt</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
